body {
  background-color: #f0f0f0;
}

.main-container {
  padding: 15px;
}

.categories-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.categories-container img {
  padding-right: 20px;
}

.child-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.cat-name {
  font-size: 28px;
  text-decoration: none;
  color: gray;
}

.created-at {
  color: gray;
}

.amount {
  font-size: 25px;
  margin: 0;
  margin-left: auto;
  padding-right: 10px;
}

.delete-btn {
  margin: 16px 0;
  margin-left: 117px;
  border: solid 1px gray;
  color: rgb(93, 93, 93);
  background-color: white;
  border-radius: 5px;
}

.btn-cont {
  border: solid 1px #60b625;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #60b625;
}

.btn-cont a {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  border: solid 1px white;
  width: 84%;
  text-align: center;
}
